{% block image_upload %}

<div class="items-center justify-center min-w-64 max-w-lg">
    <input type="file" multiple>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />

<link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
    rel="stylesheet"
/>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>

<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        var files = []
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.setOptions({
            allowMultiple:true,
            maxFiles:3,
            maxFileSize: '5MB'
        })
        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create( inputElement, {
            acceptedFileTypes:['image/png', 'image/jpeg'],
            onaddfile: (err, fileItem) => {
                if (!err) {
                files.push(fileItem.file)
                }
                console.log(files)
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file)
                if (index > -1) {
                    files.splice(index, 1)
                }
                console.log(files)
            }
        } );

        $(document).on('click', '#saveBtn', function(e) {
            var formData = new FormData(document.getElementById('mainForm'));
            formData.append('length', files.length)
            for (var i = 0; i < files.length; i++) {
                formData.append('images' + i, files[i])
            }
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

            e.preventDefault();
            submitFormData(formData);
        })

        function submitFormData(formData) {
            $.ajax({
                type: 'POST',
                {% if arg1 and arg2 %}
                url: '{% url dest arg1 arg2 %}',
                {% elif arg1 %}
                url: '{% url dest arg1 %}',
                {% else %}
                url: '{% url dest %}',
                {% endif %}
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (){
                    console.log('success')
                    {% if return_arg1 and return_arg2 %}
                    window.location.href = '{% url return_dest return_arg1 return_arg2 %}';
                    {% elif return_arg1 %}
                    window.location.href = '{% url return_dest return_arg1 %}';
                    {% else %}
                    window.location.href = '{% url return_dest %}';
                    {% endif %}
                },
                error: function(xhr, errmsg, err) {
                    alert('Error')
                    console.log(xhr.status + ":" + xhr.responseText)
                }
            })
        }
    })
</script>

{% endblock image_upload %}