{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="sm:w-full mx-auto px-4 md:w-6/12 flex flex-col">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Politique de confidentialité TODO</h1>
    
        <p class="mb-4">
            Cette politique de confidentialité explique comment notre site web utilise et protège toutes les informations
            que vous nous fournissez lors de l'utilisation de ce site.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">Informations que nous collectons</h2>
    
        <p class="mb-4">
            Nous pouvons collecter les informations suivantes :
        </p>
    
        <ul class="list-disc list-inside mb-4">
            <li>Votre nom et vos coordonnées</li>
            <li>Des informations démographiques</li>
            <li>D'autres informations pertinentes pour des enquêtes clients et/ou des offres</li>
        </ul>
    
        <h2 class="text-2xl font-bold mb-2">Utilisation des informations</h2>
    
        <p class="mb-4">
            Nous utilisons ces informations pour comprendre vos besoins et vous fournir un meilleur service, notamment pour
            les raisons suivantes :
        </p>
    
        <ul class="list-disc list-inside mb-4">
            <li>Enregistrement interne</li>
            <li>Amélioration de nos produits et services</li>
            <li>Envoi d'e-mails promotionnels sur de nouveaux produits, des offres spéciales ou d'autres informations
                susceptibles de vous intéresser</li>
            <li>De temps en temps, nous pouvons également utiliser vos informations pour vous contacter à des fins
                d'études de marché. Nous pouvons vous contacter par e-mail, téléphone ou courrier. Nous pouvons utiliser
                ces informations pour personnaliser le site web selon vos centres d'intérêt.</li>
        </ul>
    
        <h2 class="text-2xl font-bold mb-2">Sécurité</h2>
    
        <p class="mb-4">
            Nous nous engageons à assurer la sécurité de vos informations. Afin d'empêcher tout accès ou divulgation non
            autorisé(e), nous avons mis en place des procédures physiques, électroniques et managériales appropriées pour
            sauvegarder et sécuriser les informations que nous collectons en ligne.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">Cookies</h2>
    
        <p class="mb-4">
            Un cookie est un petit fichier qui demande la permission d'être placé sur le disque dur de votre ordinateur.
            Une fois que vous êtes d'accord, le fichier est ajouté et le cookie aide à analyser le trafic web ou vous
            informe lorsque vous visitez un site particulier. Les cookies permettent aux applications web de vous
            individualiser. L'application web peut adapter ses opérations à vos besoins, vos goûts et vos dégoûts en
            recueillant et en mémorisant des informations sur vos préférences.
        </p>
    
        <p class="mb-4">
            Dans l'ensemble, les cookies nous aident à vous fournir un meilleur site web en nous permettant de surveiller
            les pages que vous trouvez utiles et celles que vous ne trouvez pas utiles. Un cookie en aucun cas nous donne
            accès à votre ordinateur ou à des informations vous concernant, en dehors des données que vous choisissez de
            partager avec nous.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">Liens vers d'autres sites web</h2>
    
        <p class="mb-4">
            Notre site web peut contenir des liens vers d'autres sites web susceptibles de vous intéresser. Cependant, une
            fois que vous avez utilisé ces liens pour quitter notre site, vous devez noter que nous n'avons aucun contrôle
            sur l'autre site. Par conséquent, nous ne pouvons être responsables de la protection et de la confidentialité
            des informations que vous fournissez en visitant ces sites, et ces sites ne sont pas régis par la présente
            déclaration de confidentialité. Vous devez faire preuve de prudence et consulter la déclaration de
            confidentialité applicable au site en question.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">Contrôle de vos informations personnelles</h2>
    
        <p class="mb-4">
            Vous pouvez choisir de restreindre la collecte ou l'utilisation de vos informations personnelles de la manière
            suivante :
        </p>
    
        <ul class="list-disc list-inside mb-4">
            <li>Si vous avez précédemment accepté que nous utilisions vos informations personnelles à des fins de marketing
                direct, vous pouvez changer d'avis à tout moment en nous écrivant à l'adresse
                [email protected]</li>
            <li>Nous ne vendrons, distribuerons ou louerons pas vos informations personnelles à des tiers, sauf si nous avons
                votre permission ou si la loi nous y oblige. Nous pouvons utiliser vos informations personnelles pour vous
                envoyer des informations promotionnelles sur des tiers qui pourraient vous intéresser si vous nous
                indiquez que vous souhaitez que cela se produise.</li>
            <li>Vous pouvez demander des détails sur les informations personnelles que nous détenons à votre sujet. Si vous
                souhaitez obtenir une copie des informations vous concernant, veuillez écrire à [Votre nom de société,
                Adresse, Ville, État, Code postal] ou envoyer un e-mail à [email protected]</li>
            <li>Si vous estimez que les informations que nous détenons sur vous sont incorrectes ou incomplètes, veuillez
                nous écrire ou nous envoyer un e-mail dès que possible à l'adresse ci-dessus. Nous corrigerons
                rapidement toute information jugée incorrecte.</li>
        </ul>
    
        <p class="mb-4">
            Cette politique de confidentialité est sujette à modification sans préavis.
        </p>
    </div>
    
</div>

{% endblock %}