{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="sm:w-full mx-auto px-4 md:w-6/12 flex flex-col">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Le fonctionnement de ShareHub</h1>
    
        <p class="mb-4">
            Vous retrouverez ici une explication détaillée du fonctionnement de ShareHub, que vous soyez acheteur, vendeur ou simple visiteur. 
        </p>

        <h2 class="text-2xl font-bold mb-2">Système de paiement</h2>
    
        <p class="mb-4">
            En raison du système d'achat assez novateur et spécifique, nous n'avons pas mis en place de système de paiement automatisé.
            C'est-à-dire que l'acheteur et le vendeur devront se mettre d'accord sur un moyen de paiement, et le vendeur devra ensuite confirmer la vente sur la plateforme.
            Cela permet de ne pas avoir de coût lié à la transaction et d'être le plus simple possible. À noter que par la suite, si une méthode de paiement plus conventionnelle est envisagée,
            un système de paiement automatisé pourra peut-être être mis en place.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">Système d'échange de l'article</h2>
    
        <p class="mb-2">
            Pour des raisons pratiques, nous ne prenons pas en charge non plus les envois de colis ni les transferts. Le vendeur indique le lieu qui l'arrange le plus pour remettre l'article,
            et l'acheteur peut savoir si cela lui convient. Nous avons aussi pensé qu'étant un site de revente de syllabus entre étudiants de l'ULB, les étudiants sont généralement sur le campus et peuvent donc se rencontrer facilement.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">Messagerie et communication</h2>
    
        <p class="mb-2">
            Nous avons implémenté un système de messagerie et d'envoi de mails pour vous informer de tout échange ou vente, donc n'oubliez pas de vérifier vos mails.
            Aussi, vous êtes totalement libre d'utiliser tout autre moyen de communication. Si vous désirez clôturer une vente en dehors de la plateforme, vous pouvez le faire,
            mais nous vous demandons de bien vouloir remplir un petit formulaire pour que l'on puisse tout de même avoir les informations de la vente.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">La recherche</h2>
    
        <p class="mb-4">
            -- Cette section sera complétée au fur et à mesure --
        </p>
    </div>
    
</div>

{% endblock %}