{% extends 'base.html' %}

{% block content %}

{% load static %}

<style>
    p {
        text-align: justify;
    }
</style>

<div class="sm:w-full mx-auto px-4 md:w-6/12 flex flex-col">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Politique de confidentialité</h1>
    
        <p class="mb-4">
            Cette politique de confidentialité explique comment Sharehub utilise et protège toutes les données
            que vous nous fournissez lors de l'utilisation de ce site. Nous essayons au maximum de récolter le moins
            d'information possible, et essayons de protéger au mieux celles-ci.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">Données que nous collectons</h2>
    
        <p class="mb-4">
            Nous pouvons collecter les données suivantes :
        </p>
    
        <ul class="list-disc list-inside mb-4">
            <li>Votre nom, prénom et email</li>
            <li>Toutes les données et métadonnées concernant les articles que vous mettez en vente.</li>
            <li>Vos informations de connexion</li>
            <li>Les informations fournies via les formulaires de contact peuvent être remplies de manière anonyme</li>
        </ul>

        <h2 class="text-2xl font-bold mb-2">Sécurité</h2>
    
        <p class="mb-4">
            Nous nous engageons à assurer la sécurité de vos informations. Celles-ci sont stockées dans une base de données sécurisée.
            Les mots de passe sont cryptés à l'aide de fonctions de hachage conformes aux normes recommandées par le NIST. 
            Vos messages et autres données partagées avec d'autres utilisateurs sont chiffrés de bout en bout, garantissant que nous n'avons pas accès à vos messages.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">Utilisation des données</h2>
    
        <p class="mb-2">
            Ces données seront utilisées pour améliorer constamment la plateforme ShareHub et contribuer à la rédaction d'un mémoire qui explore une nouvelle approche du commerce et de la vision économique.
            Elles serviront à générer des statistiques et à effectuer des analyses de données. Pour obtenir plus d'informations, veuillez consulter la partie <a href="/#about" class="btn-login">à propos</a>.
        </p>

        <p class="mb-2">
            En aucun cas, vos données ne seront utilisées à d'autres fins que celles de la recherche et de l'amélioration de la plateforme ShareHub.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">Cookies</h2>
    
        <p class="mb-4">
            Un cookie est un petit fichier qui demande la permission d'être placé sur le disque dur de votre ordinateur.
            Une fois que vous êtes d'accord, le fichier est ajouté et le cookie aide à analyser le trafic web ou vous
            informe lorsque vous visitez un site particulier. Les cookies permettent aux applications web de vous
            identifier.
        </p>
    
        <p class="mb-4">
            Sur ShareHub, nous ne collectons aucun cookie. Nous utilisons uniquement des cookies de session, automatiquement supprimés lorsque vous vous déconnectez, 
            afin de gérer vos connexions et éviter que vous ayez à vous reconnecter à chaque visite.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">Liens vers d'autres sites web</h2>
    
        <p class="mb-4">
            ShareHub contient des liens vers d'autres sites web susceptibles de vous intéresser. Cependant, une
            fois que vous avez utilisé ces liens pour quitter notre site, vous devez noter que nous n'avons aucun contrôle
            sur l'autre site. Par conséquent, nous ne pouvons être responsables de la protection et de la confidentialité
            des informations que vous fournissez en visitant ces sites, et ces sites ne sont pas régis par la présente
            déclaration de confidentialité. Vous devez faire preuve de prudence et consulter la déclaration de
            confidentialité applicable au site en question.
        </p>
    
        <h2 class="text-2xl font-bold mb-2">Contrôle de vos données personnelles</h2>
    
        <p class="mb-4">
            Vous pouvez nous contacter à tout moment pour toute demande concernant vos données personnelles, et si vous le souhaitez, nous nous engageons à supprimer toutes vos données personnelles de notre base de données.
        </p>
    
        <p class="mb-4 font-bold">
            Cette politique de confidentialité est sujette à modification sans préavis.
        </p>
    </div>
    
</div>

{% endblock %}