{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="w-10/12 md:flex mx-auto justify-center items-center">

    <div class="flex flex-col justify-center text-center mb-8">

        <audio id="myAudio">
            <source src="{% static 'music/we-live-we-love-we-lie-made-with-Voicemod.mp3' %}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
          
          <script>
            document.body.addEventListener('click', function () {
              var x = document.getElementById("myAudio"); 
              x.play(); 
            });
            </script>

        <p class="text-6xl font-bold text-center text-red-500">HEY HEY HEY</p>

        <p class="text-5xl font-bold text-center text-green-500">MAIS TU VIENS D'ARRIVER SUR LA PAGE D'EDO</p>

        <p class="text-4xl font-bold text-center text-blue-500">HE OUI C'EST MOI EDO</p>

        <p class="text-3xl font-bold text-center text-yellow-500">EL CREATOR DU SITE</p>

        <img src="https://media.discordapp.net/attachments/718214061283737712/1203475635369017384/edo_cursed.png?ex=65ecea86&is=65da7586&hm=5f2be9dbf9e72b65080d92380040b496bd27baa88300f09cfc3b0c3aa652f04a&=&format=webp&quality=lossless&width=300&height=350" alt="edo" class="mx-auto my-4" style="width: 400px;" />

        <p class="text-3xl font-bold text-center text-pink-500">ET MERCI AU GOOFY GANG POUR L'AIDE ARIGATO</p>

        <p class="text-sm font-bold text-center">click n'importe où :)</p>

    </div>

</div>

{% endblock %}
