{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}

<style>
  a {
    text-decoration: none !important;
    color: #000000dd;
  }

  .total-div {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
  }

  .trash-icon{
    border: none;
    padding-left: 50px;
    overflow: visible;
    background-image: url('https://cdn.discordapp.com/attachments/718214061283737712/1150786472287416370/icons8-trash-64.png');
    background-size: 100%;
    background-color: transparent;
  }

  .buy-btn {
    font-size: large;
    color: #000000dd;
    padding: 5px 20px;
    border: #004D95 solid 2px;
    border-radius: 10px;
    margin: auto;
    text-decoration: none;
  }

    .buy-btn:hover {
        background-color: #004D95;
        color: white;
    }
</style>

<section class="h-100" style="background-color: #F5F5F5;">
  <div class="container h-100 py-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Panier</h3>
        </div>
        {% if products|length == 0 %}
          <div class="alert alert-info" role="alert">
            Votre panier est vide
          </div>
        {% else %}
          {% for product in products %}
          <div class="card rounded-3 mb-2" style="height: 25vh;">
            <div class="card-body p-2">
              <div class="row d-flex justify-content-between align-items-center" style="height: 100%;padding-left: 0.5rem;">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img src="{{product.image.url}}" style="height: 23vh;width: auto;">
                </div>
                <div class="col-md-4 col-lg-3 col-xl-5">
                  <p class="lead fw-normal mb-2"><a href="/product/{{product.id}}">{{product.name}}</a></p>
                  <p><span class="text-muted"><a href="/product/{{product.id}}">{{product.category}}</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">{{product.price|currency}}</h5>
                </div>
                <form action="/cart" method="POST" class="col-md-1">
                  {% csrf_token %}
                  <input hidden type="text" name='product' value='{{product.id}}'>
                  <input type="submit" class="trash-icon" value="" style="height: 50px;">
                </form>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
        <div class="row total-div mt-4">
          <div class="col-lg-6">
              <h3>Total: {{ products|total_cart_price|currency }}</h3>
          </div>
          {% if products|length > 0 %}
            <div class="col-lg-6 text-right">
                <a href="#" data-toggle="modal" data-target="#exampleModal" class="buy-btn">Acheter</a>
            </div>
          {% endif %}
        </div>      
      
      </div>
    </div>
  </div>
</section>


<!-- modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Check Out Form
          </h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/check-out" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn float-right btn-outline-success col-lg-6" value="Check out">
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>



{% endblock %}