{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}

<style>
	.grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px); /* Adjust item width as needed */
		grid-gap: 16px; /* Adjust spacing between items as needed */
		justify-content: center; /* Adjust item alignment as needed */
	}
</style>

<!-- body -->
<div class="container-fluid mt-3">
	<div class="row">


		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group">

				<a href="/" class="list-group-item list-group-item-action btn btn-outline-success">All Products</a>

				{% for category in categories %}
				<a href="/?category={{category.id}}"
					class="list-group-item list-group-item-action btn btn-outline-success ">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id="products" class="col-lg-9 mx-auto">
			<div class="grid-container">
				{% for product in products %}
				<div class="product-item">
					<a href="/product/{{ product.id }}" class="list-group-item list-group-item-action btn btn-outline-success p-0">
						<div class="mx-auto" style="width: 200px; height: 350px;">
							<div class="overflow-hidden" style="width: 200px; height: 275px; position: relative;">
								<img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap" style="position: absolute; bottom: 0; right: 0; max-width: 100%; height: auto;">
							</div>
							<div class="card-body">
								<p class="card-title">{{ product.name }}</p>
								<p class="card-text"><b>{{ product.price|currency }}</b></p>
								<!-- {{product | is_in_cart:request.session.cart }} -->
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		
	</div>
</div>



{% endblock %}