{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}

<style>
	.main-container {
		margin-left: 12px;
        margin-right: 12px;
	}

	.grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px); /* Adjust item width as needed */
		grid-gap: 16px; /* Adjust spacing between items as needed */
		justify-content: center; /* Adjust item alignment as needed */
	}

	.product-item {
		border: 1px solid #000000;
		overflow: hidden;
	}

	.filter-box{
		border: 1px solid #00000077;
	}

	h3 {
		font-size: 1rem;
		color: #004D95;
		border-bottom: #000000 solid 1px;
		padding-bottom: 5px;
		margin-top: 5px;
	}
</style>

<!-- body -->
<div class="container-fluid mt-3 main-container">
	<div class="row">
		<!-- filter -->
		<div class="col-lg-3 mx-auto filter-box">
			<h3 class="mt-3">Nom</h3>
			<form class="pb-3">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search">
					<div class="input-group-append">
						<button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
					</div>
				</div>
			</form>
		
			<div class="list-group mb-3">
				<h3>Catégories</h3>
				<select class="form-select" onchange="window.location.href=this.value;">
					{% if categoryName != "Tout les syllabus" %}
						<option value="/store">Tout les syllabus</option>
					{% else %}
						<option selected value="/store">Tout les syllabus</option>
					{% endif %}
		
					{% for category in categories %}
						{% if categoryName != category.name %}
							<option value="/store?category={{ category.id }}">{{ category.name }}</option>
						{% else %}
							<option selected value="/store?category={{ category.id }}">{{ category.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		
			<div class="filter-content collapse show" id="collapse_3" style="">
				<h3>Prix</h3>
				<div class="card-body text-center">
					<div class="row">
						<div class="form-group col-md-6">
							<label>Min</label>
							<input class="form-control" placeholder="$0" type="number">
						</div>
						<div class="form-group col-md-6">
							<label>Max</label>
							<input class="form-control" placeholder="$1,0000" type="number">
						</div>
					</div> <!-- form-row.// -->
					<button class="btn btn-block btn-primary mt-3">Apply</button>
				</div><!-- card-body.// -->
			</div>
		</div>
		

		<!-- all products -->
		<div id="products" class="col-lg-9 mx-auto">
			<div class="grid-container">
				{% for product in products %}
				<div class="product-item">
					<a href="/product/{{ product.id }}" class="list-group-item list-group-item-action btn btn-outline-primary p-0">
						<div class="mx-auto" style="width: 200px; height: 350px;">
							<div class="overflow-hidden" style="width: 200px; height: 275px; position: relative;">
								<img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap" style="position: absolute; bottom: 0; right: 0; max-width: 100%; height: auto;">
							</div>
							<div class="card-body">
								<p class="card-title">{{ product.name }}</p>
								<p class="card-text"><b>{{ product.price|currency }}</b></p>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		
	</div>
</div>



{% endblock %}