{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}

<style>
	.main-container {
		padding-left: 40px;
        padding-right: 15px;
		overflow: hidden;
	}

	.grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, 200px); /* Adjust item width as needed */
		grid-gap: 16px; /* Adjust spacing between items as needed */
		justify-content: center; /* Adjust item alignment as needed */
	}

	.product-item {
		border: 1px solid lightgray;
		border-radius: 2px;
		padding: 1px;
		overflow: hidden;
	}
	
	.product-item:hover {
		border: 1px solid #004D95;
	}

	a {
		text-decoration: none;
		color: #000000bb;
	}

	a:hover {
		color: #000000;
	}

	.filter-box{
		height: fit-content;
		border: 1px solid lightgray;
		border-radius: 5px;
	}

	h3 {
		font-size: 1rem;
		color: #004D95;
		border-bottom: #000000 solid 1px;
		padding-bottom: 5px;
		margin-top: 5px;
	}

    button {
        font-size: large;
        color: #000000dd;
        padding: 5px 20px;
        border: #004D95 solid 2px;
        border-radius: 10px;
        margin: auto;
    }

    button:hover {
        background-color: #004D95;
        color: white;
    }
</style>

<!-- body -->
<div class="mt-3 main-container">
    <div class="row">
        <!-- filter -->
        <div class="col-lg-3 mx-auto filter-box">
            <h3 class="mt-3">Nom</h3>
            <form class="pb-3">
                <div class="input-group">
                    <input id="rechercheInput" type="text" class="form-control" placeholder="Recherche" style="margin-right: 5px;">
                    <div class="input-group-append">
                        <button class="btn btn-light" type="button" id="rechercheButton"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>

			<div class="list-group mb-3">
				<h3>Catégories</h3>
				<select id="selectCategory" class="form-select">
					{% if categoryName != "Tout les syllabus" %}
						<option value="0">Tout les syllabus</option>
					{% else %}
						<option selected value="0">Tout les syllabus</option>
					{% endif %}
			
					{% for category in categories %}
						{% if categoryName != category.name %}
							<option value="{{ category.id }}">{{ category.name }}</option>
						{% else %}
							<option selected value="{{ category.id }}">{{ category.name }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			
            
            <div class="filter-content collapse show" id="collapse_3" style="">
                <h3>Prix</h3>
                <div class="card-body text-center" style="margin-top: -10px;">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Min</label>
                            <input class="form-control" id="minInput" placeholder="€0" type="number">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Max</label>
                            <input class="form-control" id="maxInput" placeholder="€100" type="number">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="filter-content collapse show" id="collapse_3">
                <h3>Année</h3>
                <div class="card-body text-center" style="margin-top: -10px;">
                    <div style="display: flex;">
                        <input class="form-control" id="yearInput" placeholder="2022" type="number" style="width: 70%;">
                    </div>
                </div>
            </div>
			<div style="text-align: center;margin-bottom: 1.1rem;margin-top: 0.5rem;">
				<button id="applyButton">Appliquer</button>
			</div>
        </div>
		

		<!-- all products -->
		<div id="products" class="col-lg-9 mx-auto">
			<div class="grid-container">
				{% for product in products %}
				<div class="product-item">
					<a href="/product/{{ product.id }}" class="p-0">
						<div class="mx-auto" style="width: 200px; height: 350px;">
							<div class="overflow-hidden" style="width: 200px; height: 275px; position: relative;">
								<img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap" style="position: absolute; bottom: 0; right: 0; max-width: 100%; height: auto;">
							</div>
							<div class="card-body">
								<p class="card-title">{{ product.name }}</p>
								<div style="display: flex; justify-content: space-between;">
									<p class="card-text"><b>{{ product.price|currency }}</b></p>
									<p class="card-text" style="padding-right: 20px;"><b>{{ product.date}}</b></p>
								</div>
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		
	</div>
</div>

<script>
    // Get references to the input fields and the apply button
    const minInput = document.getElementById("minInput");
    const maxInput = document.getElementById("maxInput");
    const yearInput = document.getElementById("yearInput");
    const applyButton = document.getElementById("applyButton");
    const rechercheInput = document.getElementById("rechercheInput");
    const rechercheButton = document.getElementById("rechercheButton");
    const selectCategory = document.getElementById("selectCategory");

    // Add a click event listener to the apply button
    applyButton.addEventListener("click", function () {
        // Get the values from the input fields
        const minValue = minInput.value;
        const maxValue = maxInput.value;
        const yearValue = yearInput.value;
        const rechercheValue = rechercheInput.value;
        const selectedCategory = selectCategory.value;

		console.log("test");

        // Build the URL with the parameters
        const baseUrl = window.location.href.split("?")[0]; // Get the current URL without query parameters
        const queryParams = [];

        if (minValue) {
            queryParams.push(`min=${minValue}`);
        }
        if (maxValue) {
            queryParams.push(`max=${maxValue}`);
        }
        if (yearValue) {
            queryParams.push(`year=${yearValue}`);
        }
        if (rechercheValue) {
            queryParams.push(`recherche=${rechercheValue}`);
        }
        if (selectedCategory) {
            queryParams.push(`category=${selectedCategory}`);
        }

        const newUrl = `${baseUrl}?${queryParams.join("&")}`;

        // Redirect to the new URL
        window.location.href = newUrl;
    });
</script>

{% endblock %}