{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Modifier vos informations</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">Prénom</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" placeholder="{{ user.first_name }}">
                </div>
                <div class="form-group">
                    <label for="last_name">Nom</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" placeholder="{{ user.last_name }}">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" placeholder="{{ user.email }}">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Votre mot de passe">
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="contact" class="form-control" id="contact" name="contact" value="{{ user.contact }}" placeholder="{{ user.contact }}">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="{{ user.description }}">{{ user.description }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
