{% extends 'base.html' %}

{% load custom_filter %}

{% block content %}
<style>
    /* Custom CSS to set max-height of the image */
    .max-height-image {
        height: 70vh;
        width: auto;
    }
</style>

<div class="container">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 text-center">
                <img class="max-height-image mx-auto" src="{{product.image.url}}" alt="..." />
            </div>
            <div class="col-md-6">
                <div class="col-sm mb-1">
                    <a href="/profile/{{product.user_id}}" style="text-decoration: none; color: black;">
                        {{product.user_id|user_name}}
                    </a>
                    {{product.user_id}}
                </div>
                <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                <div class="mb-1" style="display: flex;">
                    <div class="small">{{category.name}} </div>
                    <div style="margin-left: 7px; margin-right: 7px;">-</div>
                    <div class="small">{{product.date}}</div>
                </div>
                
                <div class="fs-5 mb-2">
                    <span>{{product.price|currency}}</span>
                </div>
                <p class="lead">{{product.description}}</p>
                <div class="d-flex">
                    {% if request.session.customer %}

                    <form action="/product/{{product.id}}" method="POST" class="btn-block">
                        {% csrf_token %}

                        {% if product_in_cart %}
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Retirer du panier
                            </button>
                        {% else %}
                            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Ajouter au panier
                            </button>
                        {% endif %}
                    </form>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
