{% extends 'base.html' %}

{% load custom_filter %}

{% block content %}
<style>
    /* Custom CSS to set max-height of the image */
    .max-height-image {
        height: 70vh;
        width: auto;
        -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2)
    }
    
    .rating-color{
        color:#fbc634 !important;
    }

</style>

<div class="container">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6 text-center">
                <img class="max-height-image mx-auto" src="{{product.image.url}}" alt="..." />
            </div>
            <div class="col-md-6">
                <div class="col-sm mb-1 d-flex" style="align-items: center;">
                    <a href="/profile/{{product.user_id}}" style="text-decoration: none; color: black;font-size: large;">
                        {{product.user_id|user_name}}
                    </a>
                    <div class="d-flex justify-content-between align-items-center" style="margin-left: 0.75rem;">
                        <div class="ratings">
                            {% for _ in "12345" %}
                                {% if forloop.counter <= rating.user_rating %}
                                    <i class="fa fa-star rating-color"></i>
                                {% else %} 
                                    <i class="fa fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <span class="review-count" style="margin-left: 0.4rem;">{{rating.sell_count}} Ventes</span>
                    </div>
                </div>
                <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                <div class="mb-1" style="display: flex;">
                    <div class="small">{{product.category}} </div>
                    <div style="margin-left: 7px; margin-right: 7px;">-</div>
                    <div class="small">{{product.date}}</div>
                </div>
                
                <div class="fs-5 mb-2" style="display: flex; align-items: end;">
                    <span style="margin-right: 15px; font-size: larger;">Prix minimum: 
                    {% if product.user_id == request.session.customer %}
                        {{product.price|currency}}
                    {% else %}
                        {{product.price|min_price|currency}}
                    {% endif %}    
                    </span>
                    <span style="font-size: medium;">{{product.condition}}</span>
                </div>
                <div class="fs-5 mb-2" style="display: flex; align-items: end;">
                    <span style="font-size: medium;">Lieu de préférence: {{product.place}}</span>
                </div>
                <p class="lead">{{product.description}}</p>
                <div class="d-flex">
                    {% if request.session.customer %}

                    <form action="/product/{{product.id}}" method="POST" class="btn-block">
                        {% csrf_token %}

                        <!-- add an if statement, if product.id == request.session.get('customer') -->
                        {% if product.sold == False %}
                            {% if product.user_id == request.session.customer %}
                                <a href="/modify_product/{{product.id}}" class="btn btn-outline-dark flex-shrink-0" type="submit">
                                    <i class="bi-cart-fill me-1"></i>
                                    Modifier
                                </a>
                                <a href="/product/remove/{{product.id}}" class="btn btn-outline-dark flex-shrink-0" type="submit">
                                    <i class="bi-cart-fill me-1"></i>
                                    Supprimer
                                </a>
                            {% else %}
                                {% if product_offer %}
                                    <div class="mb-2"  style="display: flex; align-items: center;">
                                        <span>Votre offre actuelle {{product_offer}}</span>
                                        <button class="btn btn-outline-dark flex-shrink-0" style="margin-left: 2rem;" type="submit">
                                            <i class="bi-cart-fill me-1"></i>
                                            Retirer votre offre
                                        </button>
                                    </div>
                                {% else %}
                                    <!-- Create an input text, to propose a price -->
                                    <div class="mb-2"  style="display: flex; align-items: center;">
                                        <span>Votre proposition de prix :</span>
                                        <input type="text" name="offer" id="offer" class="form-control" style="width: 75px; margin-left: 0.5rem;"/>
                                    </div>
                                    <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                        <i class="bi-cart-fill me-1"></i>
                                        Proposer
                                    </button>
                                    <span style="color: red;">{{error}}</span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
