{% extends 'base.html' %}

{% block content %}

{% load custom_filter %}

<style>
    .user-img {
        height: 20vh;
        width: auto;
        border-radius: 50%;
        overflow: hidden;
    }

    .rating-color{
        color:gold !important;
        cursor: pointer;
    }

    .profile-block {
        -webkit-box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.1)
    }

    .button {
        color: #010101;
        background-color: #FAFAFA;
        text-decoration: none;
        margin-top: 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        border-radius: 5px;
        width: 115px;
        height: 40px;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    }

    .user-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .user-info h3 {
        margin: 0;
    }

    .settings {
        height: 2.5rem;
        width: auto;
        cursor: pointer;
    }

    .btn-achats {
        border: 2px solid #00C853;
    }

    .btn-achats:hover {
        color: #000;
        border: 2px solid #388E3C;
    }

    .btn-ventes {
        border: 2px solid #00BFA5;
    }

    .btn-ventes:hover {
        color: #000;
        border: 2px solid #4caf50;
    }

    .btn-message {
        border: 2px solid #0091EA;
    }

    .btn-message:hover {
        color: #000;
        border: 2px solid #0288D1;
    }

</style>

<div class="container">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center mt-5">
          <div class="col-xl-7 col-md-14">
            <div class="user-card-full">
                <div class="profile-block row m-l-0 m-r-0 pt-4" style="padding-left: 1rem;padding-right: 1rem;padding-bottom:15rem; height: 35vh;">
                    <div class="col-sm-4 bg-c-lite-green user-profile">
                        <div class="card-block text-center text-black">
                            <div style="margin-bottom: 3vh;">
                                <img src="{{user.id|user_img}}" class="user-img" alt="User-Profile-Image">
                            </div>
                            <div class="ratings mt-2">
                                {% for _ in "12345" %}
                                    {% if forloop.counter <= rating.user_rating %}
                                        <i class="fa fa-star rating-color"></i>
                                    {% else %} 
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <span class="review-count" style="margin-left: 0.4rem;">{{rating.sell_count}} Ventes</span>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-block">
                            <div class="user-info">
                                <h3 class="f-w-600" style="font-size: 4vh;">{{ user.first_name }} {{ user.last_name }}</h6>
                                {% if same_user %}
                                    <a href="/modify_user">
                                        <img src="../../media/img/settings.png" alt="Settings" class="settings">
                                    </a>
                                {% endif %}
                            </div>
                            <h4 class="f-w-300" style="font-size: 2vh;color: darkgray;">{{ user.faculty }}</h4>
                            <div class="col-sm-20 mt-3" style="height: 12vh;">
                                <h5 class="font-weight-normal f-w-600" style="font-size: 2vh;color: #000000dd;">{{ user.description }}</h6>
                            </div>
                            <div class="mt-2" style="width: 100%; display: flex; justify-content: space-between;align-items: center;">
                                {% if same_user %}
                                    <a href="/my_products" class="button btn-message">Mes articles</a>
                                    <a href="/orders" class="button btn-achats">Mes achats</a>
                                    <a href="/sales" class="button btn-ventes">Mes ventes</a>
                                {% else %}
                                    <a href="/message/{{ user.id }}" class="button btn-message">Message</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}