{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}

<style>
    a {
        text-decoration: none !important;
        color: #000000dd;
    }

    .main-container {
        border-radius: 10px;
        color: #000000dd;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); 
    }
</style>

<div class="container">
   <div class="main-container p-4 m-4">
        <p class="display-4 pl-4 ml-4">Vos ventes</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>Lieu d'échange 
                        <i class="fas fa-info-circle" style="color: #004D95; margin-left: 10px;" data-bs-toggle="tooltip" data-bs-html="true" 
                            title="Veillez préciser la manière dont vous souhaitez remettre le produit, ou envoyez un message à votre acheteur.">
                        </i>
                    </th>
                    <th>Acheteur</th>
                    <th>Status
                    <i class="fas fa-exclamation-circle" style="color: #004D95; margin-left: 10px;" data-bs-toggle="tooltip" data-bs-html="true" 
                        title="Lorsque vous indiquez le produit comme remis vous ne pouvez plus revenir en arrière.">
                    </i>
                    </th>
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                <form action="/sales" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <tr>
                        <td><img style="height: 80px;" class="" src="{{order.product.image.url}}" alt=""></td>
                        <td><a href="product/{{order.product.id}}">{{order.product.name}}</a></td>
                        <td>{{order.date}}</td>
                        <td>{{order.price|currency}}</td>
                        <td>
                            <label>{{order.product.place}}</label>
                            <div class="form-group">
                                <textarea type="text" name="place_description" id=""
                                value="{{values.description}}" 
                                class=" form-control-sm form-control input-block"
                                placeholder="{{product.description}}">{{order.place_description}}</textarea>
                            </div>
                            <input hidden type="text" name='order' value='{{order.id}}'>
                            <input type="submit" class="btn btn-outline-dark flex-shrink-0" value="Mettre à jour">
                        </td>
                        <td><a href="profile/{{order.buyer.id}}">{{order.buyer.first_name}}</a></td>
                        <td>
                            <div class="form-check">
                                <label class="form-check-label" for="statusCheckbox">
                                    Remis
                                </label>
                                <input class="form-check-input" type="checkbox" name="status" id="statusCheckbox"
                                {% if order.status %}checked disabled{% endif %}>
                            </div>
                        </td>
                    </tr>
                </form>
                {% endfor %}
               
            </tbody>

        </table>
       
   </div>
</div>





{% endblock %}