<!doctype html>
<html lang="fr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <link rel="shortcut icon" type="image/png" href="/media/img/favicon.png" >

  <title>ShareHub</title>

  <style>
    body {
      font-family: 'Roboto', sans-serif;
      background-color: #F5F5F5;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    h2 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 30px;
      color: #004D95;
    }

    .nav-background {
      background-color: #F5F5F5;
    }

    .navbar-nav .active .nav-link {
      border-bottom: #004D95 2px solid;
      padding-bottom: -5px;
    }

    .display-8{
      font-weight: 450;
      font-size: 14px;
      color: #004D95;
    }

    footer {
      display: flex;
      margin-top: auto;
      background-color: #DDD;
    }
  </style>
</head>

<body>
  <!-- navbar -->

<nav class="navbar navbar-expand-md navbar-light nav-background">
  <div class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand ms-3 text-dark " href="/">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <img src="/media/img/logo.png" style="width:55px;height:55px"></a>
      <a class="navbar-brand ms-3 text-dark " href="/store"><h2>ShareHub</h2></a>
      
  
      <ul class="navbar-nav mr-auto">
        {% if request.session.customer %}
        <li class="nav-item {% if request.path == '/cart' %}active{% endif %}">
          <a class="nav-link" href="/cart">Propositions 
            {% if request.session.cart %}<span class="badge badge-success display-8"> {{request.session.cart|length}}</span>{% endif %}
            <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item {% if request.path == '/offers' %}active{% endif %}">
          <a class="nav-link" href="/offers">Offres 
            <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item {% if request.path == '/sell' %}active{% endif %}">
          <a class="nav-link" href="/sell">Vendre 
            <span class="sr-only">(current)</span></a>
        </li>

        {% endif %}
      </ul>
    </div>

    <div class="nav navbar-right navbar-collapse ">
      <ul class="nav navbar-nav navbar-expand-md">
        {% if request.session.customer %}
        <li class="nav-item {% if request.path == '/message' %}active{% endif %}">
          <a class="nav-link" href="/message">Messages 
            <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% if request.path == '/profile' %}active{% endif %}">
          <a class="nav-link" href="/profile">Profil 
            <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/logout">Deconnexion<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
      
        <li class="nav-item {% if request.path == '/signup' %}active{% endif %}">
          <a class="nav-link" href="/signup">S'enregistrer<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if request.path == '/login' %}active{% endif %}">
          <a class="nav-link" href="/login">Connexion<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
  <!---->
  {% block content %}{% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <!-- * *                               SB Forms JS                               * *-->
  <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

<footer class="footer">
        <div class="h-100 text-center text-lg-start my-auto pb-2" style="margin:auto;padding-top:5px;">
            <ul class="list-inline mb-2">
                <li class="list-inline-item"><a href="/#about">À propos</a></li>
                <li class="list-inline-item">⋅</li>
                <li class="list-inline-item"><a href="/#contact">Contact</a></li>
                <li class="list-inline-item">⋅</li>
                <li class="list-inline-item"><a href="#todo">Confidentialité</a></li>
                <li class="list-inline-item">⋅</li>
                <li class="list-inline-item"><a href="https://github.com/EdgardoCuellar">Github</a></li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; 2023 ShareHub ULB. Projet de Edgardo Cuellar Sanchez</p>
        </div>
</footer>


</html>