{% extends 'base.html' %}

{% block content %}

<div class="w-10/12 mx-auto flex flex-row justify-center">
    
    <a href="{% url 'index' %}" class="mr-4 btn-retour h-4">
        retour
    </a>

    <div class="lg:w-1/2 rounded">
        <h3 class="text-2xl color-grey-200 mb-4">Mettre un syllabus en vente</h3>
        <form action="{% url 'sell' %}" id="mainForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if error_message %}
                <div class="text-red-500" role="alert">
                    {{error_message}}
                </div>
            {% endif %}

            <!-- Name -->
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700">Nom</label>
                <input required type="text" name="name" id="name" value="{{values.name}}" 
                    class="w-full p-2 border rounded-md" placeholder="Nom">
            </div>

            <!-- Price and Date -->
            <div class="flex flex-row mb-4">
                <!-- Price -->
                <div style="width: 50%;">
                    <label for="price" class="block text-sm font-medium text-gray-700">Prix espéré <a href="{% url 'about' %}" class="btn-login">en savoir plus</a> </label>
                    <input required type="text" name="price" id="price" value="{{values.price}}" class="w-full p-2 border rounded-md" placeholder="Prix espéré">
                </div>

                <!-- Date -->
                <div style="width: calc(50% - 1.5rem);margin-left: 1rem;">
                    <label for="date" class="block text-sm font-medium text-gray-700">Année d'achat</label>
                    <input required type="number" name="date" id="date" value="{{values.date}}" class="w-full p-2 border rounded-md" placeholder="Année d'achat">
                </div>
            </div>

            <!-- Category -->
            <div class="w-full md:w-1/2 pr-2 mb-4">
                <label for="category" class="block text-sm font-medium text-gray-700">Catégorie</label>
                <select name="category" id="category" class="w-full p-2 border rounded-md">
                    {% for category in categories %}
                        <option value="{{category.name}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Category and Condition -->
            <div class="flex flex-row mb-4">
                <!-- Condition -->
                <div style="width: 34%;">
                    <label for="condition" class="block text-sm font-medium text-gray-700">État</label>
                    <select name="condition" id="condition" class="w-full p-2 border rounded-md">
                        {% for condition in conditions %}
                            <option value="{{condition.name}}">{{condition.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <!-- Méthode d'échange -->
                <div style="width: calc(66% - 2rem);margin-left: 1rem;">
                    <label title="Lieu où vous souhaitez remettre l'article" for="place" class="block ml-2 text-sm font-medium text-gray-700">Lieu d'échange préféré</label>
                    <i class="fas fa-info-circle text-blue-500 ml-2" data-bs-toggle="tooltip" data-bs-html="true" 
                        title="Si vous choisissez la livraison par la poste, vous devrez payer le prix de la livraison. N'hésitez pas à mieux expliquer votre moyen d'échange dans votre description"></i>
                    <select id="place" name="place" class="w-full p-2 border rounded-md">
                        {% for place in places %}
                            <option value="{{place.name}}">{{place.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <!-- Description -->
            <div class="mb-4">
                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea required type="text" name="description" id="description" class="w-full p-2 border rounded-md" placeholder="Description">{{values.description}}</textarea>
            </div>

            <!-- Image -->
            <div class="mb-4">
                <label for="images" class="block text-sm font-medium text-gray-700">Déposez vos images ici (3 max, 5mb)</label>
                {% include "utils/upload-image.html" with dest="sell" return_dest="sell" %} 
            </div>

            <div class="mt-6 mb-6 w-full flex flex-row justify-center items-center">
                <button id="saveBtn" class="btn-ulb mx-auto bg-blue-500 text-white py-2 px-4 rounded-full">Créer une annonce</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
