
{% extends 'base.html' %}


{% block content %}

<div class="container text-center">
    <h1 class="display-4">Mot de passe oublié</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-group" style=" display: flex; justify-content: center;align-items: center;">
            <label for="email" style="margin-right: 1rem;">Votre email:</label>
            <input type="email" name="email" class="form-control  mb-2" style="width: 300px;"
            placeholder="test@email.com" required>
        </div>
        <button type="submit" class="btn btn-primary">Recevoir un code</button>
    </form>
    {% if error %}
        <p class="text-danger mt-3">{{ error }}</p>
    {% endif %}
</div>



{% endblock %}