{% extends 'base.html' %}

{% block content %}


<div class="lg:flex half">
    <div class="bg order-1 order-md-2" 
        style="background-image: url('/media/img/login_test_1.png');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row items-center justify-content-center">
          <div class="md:col-7">
            <h3 class="mb-3" style="font-weight: 300;">Connexion à <strong>ShareHub ULB</strong></h3>
            <form action="/login" method="POST">
                {% csrf_token %}
                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <div class="form-group first mb-3">
                    <label for="username">Email</label>
                    <input required type="text" name="email" class="form-control" placeholder="abc@gmail.com" id="username">
                </div>
                <div class="form-group last mb-3">
                    <label for="password">Mot de passe</label>
                    <input required type="password" name="password" class="form-control" placeholder="MotDePasse" id="password">
                </div>
                
                <div class="d-flex mb-3 items-center">
                    <div class="control__indicator"></div>
                    <span class="ml-auto"><a href="forgot_password" class="forgot-pass">Mot de passe oublié</a></span> 
                </div>

                <input type="submit" value="Connexion" class="btn-login">

                <span class="d-block text-left my-4 text-muted"> Si vous n'avez pas de compte,
                    <a href="/signup" style="color: #004D95 ;">s'enregistrer</a>
                </span>
            </form>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
