{% extends 'base.html' %}


{% block content %}
{% load custom_filter %}

<div class="w-full flex flex-col justify-center items-center">

    <div class="sm:w-full mx-4 md:w-4/12">
       <div class="flex justify-center">
              <div class="w-full">
                
                <h2 class="text-2xl mb-2">Récapitulatif de la vente</h2>
                <a href="{% url 'product' offer.product.id %}" class="flex flex-col space-y-2">
                    <p class="font-semibold">{{offer.product.name}}</p>

                    <div class="h-64 w-40">
                        <img src="{{ offer.product.id|get_first_image_product }}" class="object-cover" alt="">
                    </div>
                </a>

                <div class="flex flex-col space-y-2">
                    <div>
                        <a href="{% url 'profile' offer.buyer.id %}">
                            <p class="font-semibold">Acheteur: </p>
                            <p>{{offer.buyer.first_name}} {{offer.buyer.last_name}}</p>
                        </a>
                    </div>
                    <div>
                        <p class="font-semibold">Prix d'achat: </p>
                        <p>{{offer.product.price|currency}}</p>
                    </div>
                    <div>
                        <p class="font-semibold">Date de l'offre: </p>
                        <p>{{offer.timestamp|timestamp_to_date}}</p>
                    </div>
                    <div>
                        <p class="font-semibold">Lieu: </p>
                        <p>{{offer.product.place}}</p>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>

{% endblock %}