<!-- messages.html -->
{% extends 'base.html' %}

{% block content %}

{% load custom_filter %}

<div class="sm:w-full sm:mx-4 md:w-8/12 md:mx-auto shadow-lg" 
    style="min-height: 70vh; border: lightgray solid 1px;">
    <!-- Chatting -->
    <div class="flex flex-row justify-between bg-white min-h-full" style="min-height: 70vh;max-height: 70vh;">
        <!-- chat list -->
        <div class="flex flex-col w-64 border-r-2 overflow-y-auto min-h-full py-2" style="overflow-x: hidden;">
            <!-- user list -->
            {% for user in users_with_messages %}
            {% if user.id == receiver.id %}
            <div class="mb-2 h-16 flex flex-row py-4 pr-2 items-left border-b-1" style="border-left: #a8a5d4 solid 2px;">
            {% else %}
            <div class="mb-2 h-16 flex flex-row py-4 pr-2 items-left border-b-1"> 
            {% endif %}
            <a href="/message/{{user.id}}"
                class="flex flex-row items-center">
                <div class="h-14 w-10 text-center pt-2 mx-2">
                    <img
                    src="{{user.id|user_img}}"
                    class="object-cover"
                    alt=""
                    />
                </div>
                <div class="w-full overflow-hidden">
                    <div class="text-lg sm:text-md font-semibold truncate">
                        {{user.first_name}} {{user.last_name}}
                    </div>
                        <p class="text-gray-500 text-sm truncate">
                            {{user.faculty|get_category_name}}
                        </p>
                </div>
            </a>
            </div>
        {% endfor %}
            <!-- end user list -->
        </div>
        <!-- end chat list -->
        <!-- message -->
        <div class="w-full px-2 flex flex-col justify-between">
            {% if receiver %}
            <div id="messageContainer" class="flex flex-col pt-4 overflow-y-auto" style="height: 68vh;">
                {% define -1 as last_id %}
                {% for message in messages %}
                    {% if message.sender.id == sender.id %}
                        <div class="flex justify-end mb-1">
                            <div class="flex justify-end w-8/12">
                            {% if last_id != message.sender.id %}
                                <div class="mr-2 py-3 px-4 rounded-bl-3xl rounded-tl-3xl rounded-br-xl text-white"
                                    style="background-color: #3498db;"
                                    title="{{ message.timestamp }}">
                                    {{ message.content }}
                                </div>
                                <img
                                    src="{{sender.id|user_img}}"
                                    class="object-cover h-8 w-6"
                                    alt=""
                                />
                            {% else %}
                                <div class="mr-8 py-3 px-4 rounded-bl-3xl rounded-tl-3xl rounded-br-xl text-white"
                                    style="background-color: #3498db;"
                                    title="{{ message.timestamp }}">
                                    {{ message.content }}
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="flex justify-start mb-1 w-8/12">
                            {% if last_id != message.sender.id %}
                                <img
                                    src="{{receiver.id|user_img}}"
                                    class="object-cover h-8 w-6"
                                    alt=""
                                />
                                <div class="ml-2 py-3 px-4 rounded-br-3xl rounded-tr-3xl rounded-bl-xl text-white"
                                    style="background-color: #9b59b6;"
                                    title="{{ message.timestamp }}">
                                    {{ message.content }}
                                </div>
                            {% else %}
                                <div class="ml-8 py-3 px-4 rounded-br-3xl rounded-tr-3xl rounded-bl-xl text-white"
                                    style="background-color: #9b59b6;"
                                    title="{{ message.timestamp }}">
                                    {{ message.content }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% define message.sender.id as last_id %}
                {% endfor %}
            </div>
            <div class="py-2">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="position-relative">
                        <input type="text" class="py-3 px-3 rounded-xl" style="width: calc(100%);"
                            name="content" placeholder="Votre message" />
                        <div style="position:relative;margin-left: calc(100% - 3rem);margin-top: -2.5rem;">
                            <button type="submit" >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="#82A0D8" 
                                class="w-8 h-8">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                            </svg>
                        </button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    // Scroll to the bottom of the container
    var messageContainer = document.getElementById('messageContainer');
    messageContainer.scrollTop = messageContainer.scrollHeight;
</script>

{% endblock %}
