<div class="w-full mx-auto">
    <div class="flex justify-center">
        <div class="mb-2" style="width: 25rem;margin-top: -1rem;">
            <form method="post" action="{% url 'dashboard' 'modify_user' %}" class="space-y-2">
                {% csrf_token %}
                {% if error %}
                    <div class="text-red-500">{{ error }}</div>
                {% endif %}
                <div class="flex flex-col">
                    <label for="first_name" class="mb-1">Prénom</label>
                    <input type="text" id="first_name" name="first_name" placeholder="{{ user.first_name }}" class="border p-2 rounded-md">
                </div>
                <div class="flex flex-col">
                    <label for="last_name" class="mb-1">Nom</label>
                    <input type="text" id="last_name" name="last_name" placeholder="{{ user.last_name }}" class="border p-2 rounded-md">
                </div>
                <div class="flex flex-col">
                    <label for="email" class="mb-1">Email</label>
                    <input type="email" id="email" name="email" placeholder="{{ user.email }}" class="border p-2 rounded-md">
                </div>
                <div class="flex flex-col">
                    <label for="password" class="mb-1">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="****************" class="border p-2 rounded-md">
                </div>
                <div class="flex flex-col">
                    <label for="confirm_password" class="mb-1">Confirmer votre mot de passe</label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="****************" class="border p-2 rounded-md">
                </div>
                <div class="flex flex-col">
                    <label for="faculty" class="mb-1">Catégorie</label>
                    <select id="faculty" name="faculty" class="border p-2 rounded-md" aria-label="Catégorie">
                        {% for category in categories %}
                            {% if category.id == user.faculty|add:0 %}
                                <option selected value="{{ category.name }}">{{ category.name }}</option>
                            {% else %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="flex flex-col">
                    <label for="description" class="mb-1">Description</label>
                    <textarea id="description" name="description" placeholder="{{ user.description }}" class="border p-2 rounded-md"></textarea>
                </div>

                <div class="flex justify-center items-center">
                    <button type="submit" class="w-64 btn-ulb rounded-full px-4 py-2 mt-4 focus:outline-none focus:shadow-outline">Mettre à jour</button>
                </div>
            </form>
        </div>
    </div>
</div>
