{% extends 'base.html' %}

{% block content %}

<div class="w-10/12 md:flex mx-auto" style="height: 75vh;">
	<div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
		<form method="POST" class="bg-white w-96">
            {% csrf_token %}
                <h1 class="text-gray-800 font-bold text-2xl mb-1">Réinitialiser votre mot de passe</h1>
                <div class="mb-6">
                    <a href="{% url 'signup' %}" class="text-sm text-blue">Se connecter</a>
                </div>
            {% if error%}
                <div class="text-red-500 mb-2" role="alert">
                    {{error}}
                </div>
            {% endif %}
            {% if success%}
                <div class="text-green-500 mb-2" role="alert">
                    {{success}}
                </div>
            {% endif %}
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                        clip-rule="evenodd" />
                </svg>
                <input class="w-full pl-2 outline-none border-none focus:border-transparent focus:ring-0" required type="password" name="password" id="password" placeholder="Nouveau mot de passe" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                        clip-rule="evenodd" />
                </svg>
                <input class="w-full pl-2 outline-none border-none focus:border-transparent focus:ring-0" required type="password" name="password_confirm" id="password_confirm" placeholder="Confirmer votre mot de passe" />
            </div>
            <button type="submit" class="btn-ulb block w-full mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Réinitialiser</button>
		</form>
	</div>

	<div
		class="relative overflow-hidden md:flex w-1/2 justify-around items-center hidden">
		<img src="/media/img/login.png" alt="Login img" class="">
	</div>
</div>

{% endblock %}
