{% extends 'base.html' %}

{% block content %}

{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
<div class="w-10/12 md:flex mx-auto" style="height: 75vh;">
    
    <div class="relative overflow-hidden md:flex w-1/2 justify-around items-center hidden md:block">
        <img src="{% static 'img/signup.png' %}" alt="Login img" class="object-cover max-w-full max-h-full">
    </div>    
    
	<div class="flex md:w-1/2 justify-center py-10 items-center">
		<form action="{% url 'signup' %}" method="POST" class="">
            {% csrf_token %}
			<h1 class="text-gray-800 font-bold text-2xl mb-1">S'enregistrer</h1>
            <div class="mb-8">
                <a href="{% url 'login' %}" class="text-sm text-blue">Vous avez déjà un compte ?</a>
            </div>
            {% if error%}
            <div class="color-red-500 mb-2" role="alert">
                {{error}}
            </div>
            {% endif %}
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
					fill="currentColor">
					<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
						clip-rule="evenodd" />
				</svg>
				<input class="w-full pl-2 outline-none border-none focus:border-transparent focus:ring-0" required type="text" name="lastname" id="lastname" placeholder="Nom" />
        </div>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4" />
            </svg>
            <input class="w-full pl-2 outline-none border-none focus:border-transparent focus:ring-0" required type="text" name="firstname" id="firstname" placeholder="Prénom" />
        </div>
        <div class="mb-4">
            <select id="faculty" name="faculty" class="bg-gray-50 h-12 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
            </select>
            

            </select>
        </div>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
            </svg>
            <input class="w-full pl-2 outline-none border-none focus:border-transparent focus:ring-0" required type="email" name="email" id="email" placeholder="Email" />
        </div>
        <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                    clip-rule="evenodd" />
            </svg>
            <input class="w-full pl-2 outline-none border-none focus:border-transparent focus:ring-0" required type="password" name="password" id="password" placeholder="********" />
        </div>
        <button type="submit" class=" mb-4 btn-ulb block w-full mt-4 py-2 rounded-2xl text-white font-semibold">S'inscrire</button>
	</div>
</div>

{% endblock %}
